/dist
/tmp
/out-tsc
/bazel-out
/build

/node_modules
npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp
.pnp.js

/.angular
/.angular/cache
.angular/cache

/coverage
testem.log
/typings

.idea/
*.iml
*.ipr
*.iws

.project
.classpath
.c9/
.settings/

*.sublime-workspace
*.sublime-project

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.sass-cache/
/connect.lock
/libpeerconnection.log
*.launch
*.log

fix-imports.js
fix.js

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

.env
.env.*
!.env.example
*.key
*.pem
secrets.json
.react-legacy/
